.header__cta,
.offers__button {
  width: 150px;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  border-radius: 16px;

  color: var(--accent-orange-color);
  background-color: var(--button-color);
}

#about-us-button:hover {
  color: var(--about-us-button-hover-color);
  background-color: var(--about-us-button-hover-back-color);
}

#categories-button {
  color: var(--categories-button-color);
  background-color: var(--categories-button-secondary-color);
  border: 1px solid var(--categories-button-color);
}

#categories-button:hover {
  color: var(--categories-button-secondary-color);
  background-color: var(--categories-button-color);
}