.header__cta,
.offers__button {
  padding: 12px;
  width: 150px;
  text-align: center;
  text-decoration: none;
  padding-inline: 20px;
  font-weight: 600;
  border-radius: 16px;

  color: rgb(228, 87, 11);
  background-color: rgb(255, 223, 187);
}

#about-us-button:hover {
  color: rgb(8, 143, 148);
  background-color: rgb(173, 224, 226);
}

#categories-button {
  color: rgb(69 193 199);
  background-color: rgb(250 244 242);
  border: 1px solid rgb(69 193 199);
}

#categories-button:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(69 193 199);
}
