.header {
  background-color: var(--main-theme-color);
  width: 100%;
}

.header__nav {
  padding: 30px 40px;
  max-width: 1000px;
  justify-content: center;
  align-content: center;
  display: flex;
  margin: auto;
}

.header__logo {
  width: 182px;
  height: 33px;
}

.header__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex: 1;
  align-items: center;

  .header__link {
    color: var(--main-text-color);
    font-family: var(--general-text-font);
    font-weight: 600;
    text-decoration: none;
  }

  .header__link:hover {
    color: var(--accent-orange-color);
    text-decoration: underline;
  }
}

.header__banner {
  width: 100%;
  min-height: 500px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding-left: 10%;

  h1 {
    font-size: 3rem;
  }

  .header__links {
    padding-top: 30px;
  }
}

@media (min-width: 700px) {
  .header__banner {
    background-image: url(../img/cover.png);
  }
}

@media (max-width: 780px) {
  .header__banner-text {
    max-width: 200px;
  }

  .header__banner {
    background-image: url(../img/cover2.png);
  }

  .header__logo {
    margin: auto;
  }

  .header__nav {
    display: flex;
    flex-direction: column;
  }

  .header__menu {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
  }
}

@media (max-width: 1200px) {
  .header__banner-text {
    max-width: 500px;
  }
}

@media (max-width: 1060px) {
  .header__banner-text {
    max-width: 400px;
  }
}
