.offers {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex: 1;
  padding-top: 60px;
  padding-bottom: 60px;
}

.offers__item {
  display: flex;
  flex-direction: column;
  height: 350px;
  width: 600px;
  background-size: cover;
  background-position: center;
  justify-content: center;
  /* align-items: center; */
}

#brands-offer {
  background-image: url(../img/background-1.webp);
  padding-left: 20px;

  .offers__headline {
    color: var(--main-text-color);
    font-size: 2rem;
    font-weight: 600;
    max-width: 400px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .offers__brands {
    color: rgb(228, 87, 11);
    font-weight: 600;
  }
}

#discounts-offer {
  background-image: url(../img/background-2.webp);
  align-items: center;

  .offers__discount {
    color: var(--main-text-color);
    font-size: 1.5rem;
    font-weight: 600;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .accent-text-element {
    color: rgb(228, 87, 11);
  }
}
