.products__intro {
  padding-top: 50px;
  text-align: center;

  .products__title {
    color: var(--main-text-color);
    font-weight: 900;
    font-size: 2rem;
  }

  .products__icon {
    width: 150px;
    padding-top: 20px;
  }
}

.products {
  margin: auto;
}

.products__list {
  padding-top: 50px;
  padding-bottom: 50px;
  display: grid;
  gap: 5px;
}

.products__card {
  border: 1px solid var(--accent-pink-color);
  width: 300px;
  padding: 50px;
  text-align: center;
  margin: auto;
}

.products__image {
  width: 120px;
  height: 120px;
  border-radius: 100px;
}

@media (max-width: 500px) {
  .products__list {
    grid-template-columns:  1fr;
  }

  .products__card {
    width: 250px;
  }
}


@media (min-width: 700px) {
  .products{
    max-width: 650px;
  }

  .products__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1000px) {
  .products{
    max-width: 950px;
  }
  .products__list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1200px) {
  .products{
    max-width: 1250px;
  }
  .products__list {
    grid-template-columns: repeat(4, 1fr);
  }
}
