.products__intro {
  padding-top: 50px;
  text-align: center;

  .products__title {
    color: var(--main-text-color);
    font-weight: 900;
    font-size: 2rem;
  }

  .products__icon {
    width: 150px;
    padding-top: 20px;
  }
}

.products {
  margin: auto;
  max-width: 1200px;
}

.products__list {
  padding-top: 50px;
  padding-bottom: 50px;
  display: grid;
  gap: 5px;
}

.products__card {
  border: 1px solid #fbd6bf;
  width: 300px;
  padding: 50px;
  text-align: center;
}

.products__image {
  width: 120px;
  height: 120px;
  border-radius: 100px;
}

@media (min-width: 600px) {
  .products__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .products__list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1200px) {
  .products__list {
    grid-template-columns: repeat(4, 1fr);
  }
}
